{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Utility{% endblock %}</h1>
  <a class="action" href="{{ url_for('index') }}">Go back to index page</a>
{% endblock %}


{% block content %}

<div id="app">
  <label for="title">Check if the input is used in this project: </label>
  <p><input v-model = "input"></p>
  <button @click=check([[input]])>Check</button>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const app = {
      delimiters: ["[[", "]]"],
      data: function () {
          return {
              input: ""
          }
      },
      methods: {
          check(input) {
            if (input == "") {
              alert("Input is required.")
            } else {
              included = "{{using}}".includes(input)
              
              if (included) {
                alert("Input is used.")
              } else {
                alert("Input is not used.")
              }
            }
          }
      }
  }
  Vue.createApp(app).mount('#app')
</script>
{% endblock %}
